body {
    font-family: Arial, sans-serif;

  }

  header {
    background-color: #152f19b9;
    padding: 20px;
  }
  .pa{
    text-align: center;
  }

  .container {
    background-color: grey;
    
  }

  nav ul {
    list-style: none;
    
  }

  nav li {
    display: inline-block;
  }
  footer {
    background-color:gray;
    padding: 10px;
    text-align: center;
  }